<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Registration</title>
</head>

<body>
    <form class="form-register" action="{% url 'client_reg' %}" method="POST"> {% csrf_token %}
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Client Registration</h1>
      </div><hr><br>

      <div class="form-label-group">
        <label for="name">Name  </label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Enter Your Name" required="" autofocus="">
      </div><br>

      <div class="form-label-group">
        <label for="email">Email address </label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Your Email" required="" autofocus="">
      </div><br>

      <div>
        <label for="phone">contact No.</label>
        <input type="tel" id="phone" name="contact" placeholder="Enter Your Phone no." required="" autofocus="">
      </div><br>

      <div class="form-label-group">
        <label for="dob">D.O.B </label>
        <input type="date" id="dob" name="dob" class="form-control" placeholder="D.O.B" required="" autofocus="">
      </div><br>

      <div class="form-label-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
      </div><br>

      <div class="form-label-group">
        <label for="password">Confirm Password</label>
        <input type="password" id="cpassword" name="cpassword" class="form-control" placeholder="Confirm Password" required="">
      </div><br>

      <div class="form-label-group">
        <label for="company">Company</label>
        <input type="text" id="company" name="company" class="form-control" placeholder="Enter Company Name" required="" autofocus="">
      </div><br>

      <div class="form-label-group">
        <label for="uidaino">UIDAI No.</label>
        <input type="number" id="uidaino" name="uidaino" class="form-control" placeholder="Enter UIDAI no." required="" autofocus="">
      </div><br>

      <div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </div>
    </form>
      <br>
    <div>
      <a href="{% url 'login' %}">Already Registered</a>
    </div>

</body>

</html>