<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fleet Owner Registration</title>
</head>

<body>
    <form class="form-register" action="{% url 'owner_reg' %}" method="POST"> {% csrf_token %}
      <div class="text-center mb-10">
        <h1 class="h3 mb-3 font-weight-normal">Fleet Owner Registration</h1>
      </div><hr><br>

      <div>
        <label for="name">Name  </label>
        <input type="text" id="name" name="name" placeholder="Enter Your Name" required="" autofocus="">
      </div><br>

      <div>
        <label for="email">Email address </label>
        <input type="email" id="email" name="email" placeholder="Enter Your Email" required="" autofocus="">
      </div><br>

      <div>
        <label for="phone">Contact No.</label>
        <input type="tel" id="phone" name="contact" placeholder="Enter Your Phone no." required="" autofocus="">
      </div><br>

      <div>
        <label for="dob">D.O.B </label>
        <input type="date" id="dob" name="dob" placeholder="D.O.B" required="" autofocus="">
      </div><br>

      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" required="">
      </div><br>

      <div>
        <label for="cpassword">Confirm Password</label>
        <input type="password" id="cpassword" name="cpassword" placeholder="Confirm Password" required="">
      </div><br>

      <div>
        <label for="company">Company</label>
        <input type="text" id="company" name="company" placeholder="Enter Company Name" required="" autofocus="">
      </div><br>

      <div>
        <label for="uidaino">UIDAI No. </label>
        <input type="number" id="uidaino" name="uidaino" placeholder="Enter UIDAI No." required="" autofocus="">
      </div><br>

      <div>
        <label for="gst">GST No.</label>
        <input type="number" id="gst" name="gst" placeholder="Enter GST no." required="" autofocus="">
      </div><br>

      <div>
        <label for="truck">No. of Trucks </label>
        <input type="number" id="truck" name="truck" placeholder="Total No. of Trucks" required="" autofocus="">
      </div><br>

      <div>
        <label for="driver">No. of Drivers</label>
        <input type="number" id="driver" name="driver" placeholder="Total No. of Driver" required="" autofocus="">
      </div><br>

      <div>
        <label for="route">Routes of Operation</label>
        <input type="number" id="route" name="route" placeholder="Opertaions" required="" autofocus="">
      </div><br>

      <div>
        <label for="address">Address</label>
        <textarea id="address" name="address" rows="5"></textarea>
      </div><hr>

      <h3>Company T&C : </h3>
        <div>
          <input type="file" id="comptc">
        </div><br>

      <h3>NOC from JURISDICTION AREA POLICE : </h3>
        <div>
          <input type="file" id="fileselect">
        </div><br><hr>

       <div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
       </div>
    </form><br>
    <div>
      <a href="{% url 'login' %}">Already Registered</a>
    </div>
</body>
</html>